.card__box {
  max-width: 30rem;
  min-width: 200px;
  box-shadow: 0px 0px 5px black;
}
.card__content {
  padding: 10px;
}
.image {
  height: 250px;
  width: fit-content;
}
.source {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 20px;
  padding: 5px;
  width: fit-content;
}
.title {
  text-align: center;
}
.sub_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
  color: gray;
}
